In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\GoIT\HW Python\applications(2.0).csv")
df.head()

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3

Data cleaning

In [3]:
df = df.drop_duplicates(subset='applicant_id')

In [4]:
df['External Rating'] = df['External Rating'].fillna(0)

In [5]:
df['Education level'] = df['Education level'].fillna('Середня')

Adding industry data

In [7]:
industries = pd.read_csv(r"D:\GoIT\HW Python\industries(2.0).csv")
industries.head()

                       Industry  Score
0                    Blockchain      0
1  Public services / Government     20
2          Adtech / Advertising     10
3                       Telecom     15
4                    Automotive     15

In [8]:
df = pd.merge(df, industries)
df

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f,20
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1,15
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15
...,...,...,...,...,...,...,...,...,...,...,...
13273,01.09.2023 11:01,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15
13274,01.09.2023 11:14,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0
13275,01.09.2023 11:19,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0
13276,01.09.2023 11:28,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15
13277,01.09.2023 11:38,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15

Rating

In [10]:
# working with time series
df['Applied at'] = pd.to_datetime(df['Applied at'], format='mixed', dayfirst=True, errors='coerce')
df['Applied on day'] = df['Applied at'].dt.day_name()
df

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Applied on day
0,2022-11-30 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,Wednesday
1,2022-11-30 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f,20,Wednesday
2,2022-11-30 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10,Wednesday
3,2022-11-30 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1,15,Wednesday
4,2022-11-30 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...
13273,2023-09-01 11:01:00,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15,Friday
13274,2023-09-01 11:14:00,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0,Friday
13275,2023-09-01 11:19:00,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0,Friday
13276,2023-09-01 11:28:00,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15,Friday
13277,2023-09-01 11:38:00,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15,Friday

In [11]:
# If the applicant's age is between 35 and 55, 20 points are added to the rating
df['Age'] = df['Age'].astype(int)
age = ((df['Age'] >= 35) & (df['Age'] <= 55)) * 20

# If the application was submitted not on a weekend, 20 points are added to the rating.
day = ~df['Applied at'].isin(['Saturday', 'Sunday']) * 20

# If the applicant is married, 20 points are added to the rating.
marital = (df['Marital status'] == 'Married') * 20

# If the applicant is located in Kyiv or the region, 10 points are added to the rating.
location = (df['Location'] == 'Київ чи область') * 10

# The 'Score' value from the industries.csv table is also added to the application (and ranges from 0 to 20 points)
industry = df['Score']

# If 'External Rating' is greater than or equal to 7, 20 points are added to the rating
df['External Rating'] = df['External Rating'].astype(int)
positive_rating = (df['External Rating'] >= 7) * 20

# If 'External Rating' is less than or equal to 2, 20 points are deducted from the rating
negative_rating = (df['External Rating'] <= 2) * -20

# Calculate the application rating according to the following conditions:

# Rating must be a number from 0 to 100
# Rating is the sum of the application's ratings across 6 criteria.
# Rating is zero if 'Amount' is missing or if 'External Rating' is zero.

df['Final Score'] = age + day + marital + location + industry + positive_rating + negative_rating
df['Final Score'] = df['Final Score'].clip(0, 100)
df['Final Score'] = df['Final Score'] * ~(df['External Rating'] == 0) * ~df['Amount'].isna()
df

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Applied on day,Final Score
0,2022-11-30 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,Wednesday,40
1,2022-11-30 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f,20,Wednesday,0
2,2022-11-30 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10,Wednesday,40
3,2022-11-30 10:27:31,1500.0,23,Жінка,Telecom,Single,0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1,15,Wednesday,0
4,2022-11-30 10:27:34,8400.0,33,Жінка,Automotive,Single,6,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15,Wednesday,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13273,2023-09-01 11:01:00,12000.0,25,Чоловік,Medtech / Healthcare,Single,6,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15,Friday,35
13274,2023-09-01 11:14:00,10500.0,28,Чоловік,Blockchain,Married,5,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0,Friday,40
13275,2023-09-01 11:19:00,5790.0,25,Чоловік,Blockchain,Married,3,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0,Friday,40
13276,2023-09-01 11:28:00,13500.0,31,Чоловік,Mobile,Single,8,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15,Friday,55
13277,2023-09-01 11:38:00,12600.0,32,Чоловік,High Load Systems,Married,11,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15,Friday,75

In the resulting table, leave only applications with a rating greater than zero; these applications will be considered accepted.

In [13]:
df = df[df['Final Score'] > 0]
df

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Applied on day,Final Score
0,2022-11-30 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,Wednesday,40
2,2022-11-30 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10,Wednesday,40
4,2022-11-30 10:27:34,8400.0,33,Жінка,Automotive,Single,6,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15,Wednesday,35
5,2022-11-30 10:27:38,16500.0,31,Чоловік,E-commerce,Single,8,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,f720bf9c5c4c3e10a8568c1699847696,15,Wednesday,65
6,2022-11-30 10:27:42,4200.0,30,Чоловік,Media,Married,1,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,0aaf59fb3ef90f50ccd4800312e5c271,5,Wednesday,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13273,2023-09-01 11:01:00,12000.0,25,Чоловік,Medtech / Healthcare,Single,6,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15,Friday,35
13274,2023-09-01 11:14:00,10500.0,28,Чоловік,Blockchain,Married,5,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0,Friday,40
13275,2023-09-01 11:19:00,5790.0,25,Чоловік,Blockchain,Married,3,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0,Friday,40
13276,2023-09-01 11:28:00,13500.0,31,Чоловік,Mobile,Single,8,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15,Friday,55
13277,2023-09-01 11:38:00,12600.0,32,Чоловік,High Load Systems,Married,11,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15,Friday,75

Group the data from the resulting table by the week of application submission, and display the average rating of accepted applications in each week.

In [29]:
df = df.set_index('Applied at')  # Set 'Applied at' as the index

weekly_avg_rating = df.resample('W')['Final Score'].mean()  # Resample by week and calculate mean

print(weekly_avg_rating)

Applied at
2022-01-16    56.888412
2022-01-23          NaN
2022-01-30          NaN
2022-02-06          NaN
2022-02-13    55.209581
                ...
2023-08-06    50.250000
2023-08-13          NaN
2023-08-20          NaN
2023-08-27          NaN
2023-09-03    51.875000
Freq: W-SUN, Name: Final Score, Length: 86, dtype: float64