In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\GoIT\stack-overflow-developer-survey-2024\survey_results_public.csv")
df1 = pd.read_csv(r"D:\GoIT\stack-overflow-developer-survey-2024\survey_results_schema.csv")
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [3]:
df1.head(10)

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
5,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
6,QID25,EdLevel,Which of the following best describes the high...,True,MC,SAVR
7,QID276,LearnCode,How do you learn to code? Select all that apply.,False,MC,MAVR
8,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
9,QID331,TechDoc,What is the source of the technical documentat...,False,MC,MAVR

1. How many respondents completed the survey?

In [5]:
df.ResponseId.nunique()

65437

2. How many respondents answered all the questions?

In [7]:
questions = set(df1.qname.unique()) & set(df.columns)
df.dropna(subset=questions).shape[0]

6306

3. What are the values ​​of the measures of central tendency for the experience (WorkExp) of the respondents?

In [9]:
print(f'Mean: {round(df.WorkExp.mean(), 1)}')
print(f'Median: {round(df.WorkExp.median(), 1)}')
print(f'Mode: {round(df.WorkExp.mode(), 1)}')

Mean: 11.5
Median: 9.0
Mode: 0    3.0
Name: WorkExp, dtype: float64

4. How many respondents work remotely?

In [11]:
df[df.RemoteWork == 'Remote'].shape[0]

20831

5. What percentage of respondents program in Python?

In [13]:
df.LanguageHaveWorkedWith.str.contains('python', case=False, na=False)

0        False
1         True
2        False
3         True
4         True
         ...
65432    False
65433    False
65434    False
65435     True
65436     True
Name: LanguageHaveWorkedWith, Length: 65437, dtype: bool

In [14]:
df['worked_with_python'] = df.LanguageHaveWorkedWith.str.contains('python', case=False, na=False)
print(df.worked_with_python.sum()) 
round(df.worked_with_python.sum() / df.ResponseId.nunique()*100, 2)

30795

47.06

6. How many respondents learned to program using online courses?

In [16]:
df['learned_with_online_courses'] = df.LearnCode.str.contains('online courses', case=False, na=False)
df.learned_with_online_courses.sum()

30271

7. Among respondents who program in Python, grouped by country, what is the average and median compensation amount (ConvertedCompYearly) in each country?

In [18]:
py_progers_by_country = df[df.worked_with_python == 1].dropna(subset='ConvertedCompYearly') \
                                                      .groupby('Country', as_index=False) \
                                                      .agg({'ConvertedCompYearly': ['mean', 'median']})
py_progers_by_country

                                  Country ConvertedCompYearly
                                                         mean    median
0                             Afghanistan         4543.000000    4768.5
1                                 Albania        56295.000000   56295.0
2                                 Algeria         9053.285714    6230.0
3                                 Andorra       193331.000000  193331.0
4                                  Angola            6.000000       6.0
..                                    ...                 ...       ...
146  Venezuela, Bolivarian Republic of...        21500.000000    7100.0
147                              Viet Nam        14014.562500   10180.0
148                                 Yemen        10297.333333    5333.0
149                                Zambia        28123.666667   22803.0
150                              Zimbabwe        37500.000000   18000.0

[151 rows x 3 columns]

8. What are the education levels of the 5 respondents with the highest compensation?

In [20]:
df[['ResponseId', 'EdLevel', 'ConvertedCompYearly']].sort_values(by='ConvertedCompYearly', ascending=False).reset_index(drop=True).head(5)

,ResponseId,EdLevel,ConvertedCompYearly
0,15838,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16256603.0
1,12724,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",13818022.0
2,28380,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",9000000.0
3,17594,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6340564.0
4,17673,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",4936778.0

9. In each age group, what percentage of respondents program in Python?

In [46]:
# Standardize Age Group labels
age_mapping = {
    'Under 18 years old': '<18',
    '18-24 years old': '18-24',
    '25-34 years old': '25-34',
    '35-44 years old': '35-44',
    '45-54 years old': '45-54',
    '55-64 years old': '55-64',
    '65 years or older': '65+',
    'Prefer not to say': 'Prefer not to say'
    
}

# Map Age categories
df['AgeGroup'] = df['Age'].map(age_mapping)

# Ensure only valid AgeGroup values
df = df.dropna(subset=['AgeGroup'])

# Calculate Python usage by Age Group
age_python_percent = df.groupby('AgeGroup')['worked_with_python'].mean() * 100
print(age_python_percent)

AgeGroup
18-24    55.922826
25-34    45.773912
35-44    41.520546
45-54    41.910706
55-64    40.427184
65+      37.564767
<18      64.875389
Name: worked_with_python, dtype: float64

10. Among respondents in the 75th percentile of average compensation who work remotely, what industries are most prevalent?

In [24]:
# Convert compensation column to numeric (replace errors with NaN)
df['ConvertedCompYearly'] = pd.to_numeric(df['ConvertedCompYearly'], errors='coerce')


comp_75 = df['ConvertedCompYearly'].quantile(0.75)
remote_high_earners = df[(df['ConvertedCompYearly'] >= comp_75) & (df['RemoteWork'] == 'Remote')]

# Count top 5 industries
top_industries = remote_high_earners['Industry'].value_counts().head(5)
print(top_industries)

Industry
Software Development                          768
Other:                                        239
Fintech                                       156
Healthcare                                    154
Internet, Telecomm or Information Services    146
Name: count, dtype: int64